@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600&display=swap");

/* Theme */
$orange: #ff4f40;
$indigo: #635dff;
$white: #fff;
$light-aluminium: #eaecee;
$aluminium: #bdc4cf;
$dark-aluminium: #2a2e35;
$black: #000000;
$yellow: #ebca40;
$mandarine: #ff7f38;
$pink: #ff44dd;
$blue: #3885ff;
$aqua: #3ec6eb;
$emerald: #1bc99f;

$background: #282c34;
$hyperlink-blue: #61dafb;


$yellow-mandarine-gradient: linear-gradient(
  153.07deg,
  $yellow -2.47%,
  $mandarine 102.78%
);

$mandarine-orange-gradient: linear-gradient(
  153.07deg,
  $mandarine -2.47%,
  $orange 102.78%
);


$pink-indigo-gradient: linear-gradient(
  153.07deg,
  $pink -2.47%,
  $indigo 102.78%
);

$indigo-aqua-gradient: linear-gradient(
  153.07deg,
  $indigo -2.47%,
  $aqua 102.78%
);

$blue-aqua-gradient: linear-gradient(
  153.07deg,
  $blue -2.47%,
  $aqua 102.78%
);

$aqua-emerald-gradient: linear-gradient(
  153.07deg,
  $aqua -2.47%,
  $emerald 102.78%
);

$emerald-yellow-gradient: linear-gradient(
  153.07deg,
  $emerald -2.47%,
  $yellow 102.78%
);

$font-primary: "Inter", sans-serif;
$font-secondary: "Space Grotesk", sans-serif;
$font-mono: "Fira Code", monospace;
